
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
    background: rgb(51, 90, 33);
    color:white ;
    font-weight: 300;
  }
  
  main,
  aside {
    line-height: 1.8;
  }
  
  .container {
    width: 90%;
      margin: 0 auto;
  }
  
  img {
    width: 100%;
    display: block;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
  }
  
  h1 {
    color: white;
    font-size: 40px;
  }
  
  h2 {
    color:white;
    font-size: 2rem;
  }
  
  strong {
    font-weight: 700;
  }
  
  a {
    color: white;
    transition: all 0.1s;
  }
  
  a:hover,
  a:focus {
    color: rgb(101, 141, 101);
  }
  
  .container-flex {
    display: flex;
    flex-direction: column;
    z-index: 5;
    background-color: rgb(51, 90, 33);
    width: 100%;
    left: 0;
    top: 0;
  
  }
  /* nav{
    margin: 0 0 0 0 ;
  } */
  
  .about-featured-title {
    color: white;
  }
  
  /*
  
  <-------HEADER------->
  
  */
  
  header {
    background: rgb(51, 90, 33);
     padding: 1em 0; 
    text-align: center;
    border-bottom: black 3px solid;
  
  }
  header h1{
    padding-left: 20px;
     padding-top: 10px; 
  }
 
  .site-title a {
    text-decoration: none;
  }
  
  .site-title-title {
    margin: 0;
  }
  
  .site-title-subtitle {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 400;
  }
  
  .menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
    padding-right: 10px;
    padding-top: 10px;

  }
  
  .menu-item {
    margin: 0.5em 0;
  }
  
  .menu-anchor {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    transition: all 0.3s;
  }
  
  .menu-anchor:hover,
  .menu-anchor:focus {
    color: #afafaf;
  }
  
  .current-page {
    padding: 0.15em 0;
    border-bottom: 1px solid rgb(51, 90, 33);
  }
  
  .current-page:hover,
  .current-page:focus {
    color: rgb(51, 90, 33);
  }


  /* intro  */



.intro {
    position: relative ;
    background-image: url("img/bg1.jpg") ;
    background-size: cover;
    height: 100vh;
    min-height: 25rem;
    width: 100%; 
    overflow: hidden;
      z-index: 2;
  }



  .intro-h2{
    padding: 100px;
    font-family: arial;
    font-size: 56px !important;
    text-shadow: 0 10px 3px rgba(0, 0, 0, 0.5);
    color: #ffffff;
  }
  .change-text:before{
    content:'Konopie';
    color:  rgb(94, 221, 162);
    animation: yazı infinite 10s;
  }
  @keyframes yazı{
    35%{content:'CBD';}
    50%{content:'CBG';}
    85%{content:'THC';}
  }

 
  /* nowe slider karuzelka */
  .carousel {
    position: relative;
 
   
 
}
.carousel > h1 {
  text-align: center;
  /* margin-top: 10px; */
}

.carousel__item {
    height: 400px;
    background: rgb(51, 90, 33);
    padding: 0.6em;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: black;
    display: none;
  
}
.carousel__item img{
  height: 350px;
  object-fit: cover !important;
}

.carousel__item--selected {
    display: block;
}

.carousel__nav {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel__button {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);

    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel__button--selected {
    background: rgba(255, 255, 255, 0.5);

}
  
  /* aktualnosci */
  
  .aktualnosci-bg {
    background-color: white;
    background-image: url("img/bg-akt\ \(1\).png");
    background-size: cover;
  
  }
  
  .aktualnosci > h1 {
    text-align: center;
    margin-top: 50px;
    color: black;
  }
  
  .aktualnosci > p {
    font-size: 18px;
    font-weight: 600;
    color: black;
    text-align: justify;
  }
  .aktualnosci-img1 {
    background-size: cover;
    background-image: url("img/galeria1.jpg");
    width: 30%;
    height: 270px !important;
    margin-left: 30px;
  }
  .aktualnosci-img2 {
    background-size: cover;
    background-image: url("img/galeria2.jpg");
    width: 30%;
    height: 270px !important;
   

  }
  .aktualnosci-img3 {
    background-size: cover;
    background-image: url("img/galeria1.jpg");
    width: 30%;
    height: 270px !important;
    
  }
  
  .aktualnosci-img {
    transition: 1s;
    opacity: 1;
    display: inline-block;
    
  }


  .aktualnosci-img:hover {
    transition: 1s;
    border-radius: 40px;
    opacity: 0.6;
  }
  
  
  /* galeriaa */
  
  .galeria-bg {
    background-color: rgb(51, 90, 33);
  }
  .galeria > .row {
    border: 5px solid white;

  } 
.row{
  display: grid;
  grid-template-columns: auto auto auto auto;
 
}
  .galeria-1{
  background-image: url("img/galeria1.jpg");
  background-size: cover;
  width: auto;
  height: 250px;
  border: 10px solid white;
 
  }
  .galeria-2{
    background-image: url("img/galeria2.jpg");
    background-size: cover;
    width: auto;
    height: 250px;
    border: 10px solid white;
  }
  .galeria-3{
    background-image: url("img/galeria1.jpg");
    background-size: cover;
    width: auto;
    height: 250px;
    border: 10px solid white;
  
  }
  .galeria-4{
    background-image: url("img/galeria2.jpg");
    background-size: cover;
    width: auto;
    height: 250px;
    border: 10px solid white;
  
  }
  .galeria-5{
    background-image: url("img/galeria1.jpg");
    background-size: cover;
    width: auto;
    height: 250px;
    border: 10px solid white;
  
  }
  .galeria-6{
    background-image: url("img/galeria2.jpg");
    background-size: cover;
    width: auto;
    height: 250px;
    border: 10px solid white;
  
  }
  .galeria-7{
    background-image: url("img/galeria1.jpg");
    background-size: cover;
    width: auto;
    height: 250px;
    border: 10px solid white;
  
  }
  .galeria-8{
    background-image: url("img/galeria2.jpg");
    background-size: cover;
    width: auto;
    height: 250px;
    border: 10px solid white;
  
  }
  
  .galeria > .row   {
  transition: 1s;
  }
  .galeria > .row  {

    transition: 1s;
  }
  

  /*
  
  <-------FOOTER------->
  
  */
  
  footer {
    background: rgb(51, 90, 33);
    padding: 20px;
    text-align: center;
   
  }
  
  .footer-title {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
  }
  
  .footer-copyright {
    font-size: 0.8rem;
    margin-top:0;
  }
  footer .social-media img{
width: 30px!important;
height: 30px!important;
/* z-index: ; */
display: inline;
  }
  
  /*
  
  <-------MEDIA QUERIES------->
  
  */
  
  @media (min-width: 760px) {
    .container-flex {
      flex-direction: row;
      justify-content: space-between;
    }

    /* <-------HEADER-------> */
 
  
    .site-title {
      text-align: left;
    }
  
    .menu {
      flex-direction: row;
      justify-content: center;
    }
  
    .menu-item {
      margin-left: 2em;
    }
  
    /* <-------MAIN-------> */
    main {
      width: 100%;
    }
  
    aside {
      width: 25%;
      min-width: 190px;
    }
  
    /* <-------featured-------> */
    .featured {
      margin-bottom: 1.5em;
    }
  
    .featured-title {
      order: 0;
    }
  
    .featured-info {
      order: -1;
    }
  
    .featured img {
      order: -2;
    }
  
    /* <-------recent-------> */
  
    .article-recent-main {
      width: 70%;
    }
  
    .article-recent-secondary {
      width: 28%;
    }
  
    .article-recent-secondary img {
      min-height: 250px;
      object-fit: cover;
    }
  
    .article-recent-info {
      margin-top: 1.5em;
    }
  
    /* <-------ASIDE-------> */
    .about-us,
    .recent-posts {
      margin-top: 0;
    }
  }

  @media (max-width:759px ){
    .row{
      display: grid;
      grid-template-columns: auto auto;
      }


      .aktualnosci-img1 {
        background-size: cover;
        background-image: url("img/galeria1.jpg");
        width: 30%;
        height: 270px !important;
        margin-left: 20px;
      }
      .intro-h2{
      padding-top: 200px;
       }

}

@media (max-width:516px ){

  .intro-h2{
    padding-top: 400px;
     }

}
  @media (max-width:366px ){
    .row{
      display: grid;
      grid-template-columns: auto;
      }

 
      .aktualnosci-img1 {
        background-size: cover;
        background-image: url("img/galeria1.jpg");
        width: 30%;
        height: 270px !important;
        margin-left: 12px;
      }
      .intro-h2{
        padding: 50px;
        font-size: 35px!important;
    }
  }
      @media (max-width:490px ){
        .row{
          display: grid;
          grid-template-columns: auto;
        }
       .intro-h2{
        padding-top: 400px;
      font-size: 40px!important;
       }
  }